<!DOCTYPE html>
<html>
<head>
  <title>Amazing Web Services</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"> 
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

  <!-- Un-comment one of these elements, or do your own thing -->
  <!-- <div id='react-root'></div> -->
  <header>
    <section id="sect-header">
      <div>
        <img src="./assets/gear.png" class="header-icon" alt="read gear Amazing Web Services logo">
        <h1>Amazing Web Services</h1>
      </div>
      <div>
        <img src="./assets/icons8-gender_neutral_user_filled.svg" class="header-icon" alt="gender neutral user silhuette">
        <p id="username">Georgia</p>
      </div>
    </section>
  </header>

  <div id='app'>

    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else id="sect-os">
      <h2>Select Your Operating System</h2>
      <div>
        <button v-for="(key, value, index) in osData" class="btn btn-os" :class="value" ref="value" @click="selectOS(index)">
          <h4>{{value}}</h4>
          <div class="icon-wrapper"></div>
        </button>
      </div>       
    </section>

    <section v-if="osSelected" id="sect-config">
      <h2>Configure your {{oS}} VM!</h2>
      <div class="flex-wrapper flex-between">
        <div class="container cont-two-thirds">
          <h3>Number of CPUs</h3>
          <div>
            <button v-for="(key, value, index) in cpuData" class="btn btn-sm" :class="'cpu'+value" ref="value" @click="selectCPU(key, value, index)">
              <h4>{{value}}</h4>
              <p v-if="oS === 'Windows'">${{ formatPrice(key + 0.7)}} p/hour</p>
              <p v-else-if="oS === 'Fedora'">${{formatPrice(key + 0.2)}} p/hour</p>
              <p v-else>${{ formatPrice(key) }} p/hour</p>
            </button>
          </div>
          <h3>Total RAM</h3>
          <div>
            <button v-for="(key, value, index) in ramData" class="btn btn-sm" :class="value" ref="value" @click="selectRAM(key, value, index)">
              <h4>{{value}}GB</h4>
              <p>$ {{ formatPrice(key)}} p/hour</p>
            </button>
          </div>
          <h3>Disc Space Amount</h3>
          <div>
            <button v-for="(key, value, index) in diskData" class="btn btn-sm" :class="value" ref="value" @click="selectDisk(key, value, index)">
              <h4>{{value}}GB</h4>
              <p>${{ formatPrice(key) }} p/hour</p>
            </button>
          </div>
        </div>
        <div class="container cont-fourth cont-long">
          <div class="cont-group-lg">
            <p class="oversized-lg">
              <span v-if="cpu || ram || disk">
                ${{ formatPrice(monthlyCost) }}
              </span>
              <span v-else>&mdash;</span>
            </p>
            <p class="oversized">per month</p>
          </div>
          <div class="cont-group">
            <p class="oversized-lg">
              <span v-if="cpu">{{ cpu }}</span>
              <span v-else>&mdash;</span>
            </p>
            <p class="oversized">CPU</p>
          </div>
          <div class="cont-group">
            <p class="oversized-lg">
                <span v-if="ram">{{ ram }}GB</span>
                <span v-else>&mdash;</span>
            </p>
            <p class="oversized">RAM</p>
          </div>
          <div class="cont-group">
            <p class="oversized-lg">
                <span v-if="disk">{{ disk }}GB</span>
                <span v-else>&mdash;</span>
            </p>
            <p class="oversized">Disk</p>
          </div>
        </div>
      </div>
    </section>
    <section id="sect-name" v-if="cpu && ram && disk">
        <h2>Name Your VM</h2>
        <div class="flex-wrapper flex-center container">
        <label for="vmName" class="sr-only">Virtual Machine Name</label>
        <input type="text" name="vmName" id="vmName" :placeholder="oS + '-' + cpu + '-' + ram + '-' + disk">
        <button class="btn btn-green" type="submit">Build Virtual Machines</button>
        </div>
    </section>

  </div>

  <script src="./index.js"></script>
</body>
</html>
