/***** IMPORTS *****/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/**** ELEMENTS *****/

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

header {
  height: 40px;
  border-bottom: 2px solid black;
}

section {
  position: relative;
  left: 20%;
  width: 60%;
}

input {
    width: 250px;
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #949393;
    border-radius: 5px;

}

/**** LISTS *****/




/***** TYPOGRAPHY *****/

h1 {
    font-size: 12px;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    margin: 0px 0px 15px;
}

h4 {
    margin: 0px 0px 5px;
    color: #2b3432;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    margin: 0px;
    font-size: 14px;
    color: #4c4c4c;
}

.oversized {
    font-size: 24px;
    color: #949393;
    text-transform: uppercase;
}

.oversized-lg {
    font-size: 36px;
    color: #4c4c4c;
}

#username {
    margin: 12px 0px;
    font-size: 12px;
    font-weight: bold;
}

/***** FORMS, BTNS, FIELDS *****/

.btn {
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.btn-os {
    position: relative;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #949393;
}

.btn-os h4{
    position: relative;
    height: 100%;
    margin: 10px 0 0;
}

.btn.active,
.btn:hover {
    color: #2b3432;
    border: 1px solid #0abb93;
}

.btn-os.active > h4,
.btn-os:hover > h4 {
    color: #2b3432;
}
.btn-os.active:after,
.btn-os:hover:after {
    background-color: #2b3432;
}

.btn-os:after {
    content: '';
    position: absolute;
    top: 131px;
    left: 22%;
    width: 56%;
    height: 56%;
    border-radius: 50%;
    border: 1px solid #949393;
    background-color:#949393;
    -webkit-mask-size: 65% 65%;
    mask-size: 65% 65%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

}

.btn-os.windows:after {
    -webkit-mask-image: url('assets/icons8-windows8_filled.svg');
    mask-image: url('assets/icons8-windows8_filled.svg') ;
}

.btn-os.rhel:after {
    -webkit-mask-image: url('assets/icons8-red_hat_filled.svg');
    mask-image: url('assets/icons8-red_hat_filled.svg') ;
}

.btn-os.fedora:after {
    -webkit-mask-image: url('assets/icons8-fedora_filled.svg');
    mask-image: url('assets/icons8-fedora_filled.svg') ;
}

.btn-os.ubuntu:after {
    -webkit-mask-image: url('assets/icons8-ubuntu_filled.svg');
    mask-image: url('assets/icons8-ubuntu_filled.svg') ;
}

.btn-sm {
    position: relative;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #949393;
}

.btn-green {
    padding: 12px 30px;
    background:#0abb93;
    border: 1px solid #0abb93;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.btn-green:hover {
    background: white;
    border: 1px solid #0abb93;
    color: #2b3432;
}

:focus {
    outline: #0abb93 auto 3px;
}

:disabled {
    user-select: none;
    cursor: not-allowed;
    border: 1px solid #949393;
    color: #949393;
    opacity: 0.5;
}

/****** LAYOUT ******/

#sect-header {
    display: flex;
    justify-content: space-between;
}

#sect-header div {
    display: flex;
    align-items: center;
}

#sect-os,
#sect-config,
#sect-name {
    margin: 80px 0 120px 0;
}

#sect-name {
    margin: 0 0 80px;
}

#sect-os div {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 40px;
}

.container {
    margin: 50px 0 0;
}

.cont-two-thirds {
    width: 66%;
}

.cont-fourth {
    width: 25%;
}

.cont-long {
    height: 448px;
    padding: 20px;
    border: 1px solid #949393;
    border-radius: 5px;
}

.cont-two-thirds div{
    display: grid;
	grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-bottom: 40px;
}

.flex-wrapper {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.cont-group-lg {
    padding: 0 0 20px;
    text-align: center;
    border-bottom: 1px solid #949393;
}

.cont-group {
    margin: 20px 0 40px;
}

/***** MEDIA *****/

.header-icon {
    height: 20px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.icon-wrapper {
    position: absolute;
    top: 89px;
    left: 22%;
    width: 56%;
    height: 56%;
    margin: 0px;
    border-radius: 50%;
    background: white;
    border: 1px solid #949393;
}

.btn-os.active > .icon-wrapper,
.btn-os:hover > .icon-wrapper {
    border: 1px solid #0abb93;
}

/***** A11Y *****/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
